video {
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 400px) {
  video {
    width: 100%;
  }
}
@media (min-width: 400px) and (max-width: 800px){
  video {
    width: 60%;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  video {
    width: 70%;
  }
}

@media (min-width: 1200px) and (max-width: 1920px) {
  video {
    width: 50%;
  }
}

/*@media (min-width: 1600px) {*/
/*  video {*/
/*    width: 80%;*/
/*  }*/
/*}*/

/*@media (min-width: 800px) {*/
/*  video {*/
/*    width: 100%;*/
/*  }*/
/*}*/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
